@import 'tailwindcss';

:root {
  color-scheme: light;
}

@utility bg-noise {
  background-image: url('/noise.svg');
  background-repeat: repeat;
  background-size: 256px 256px;
}

@utility shadow-subtle {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.02);
}
